{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.raota.net","description":"Generated server url"}],"tags":[{"name":"탐색","description":"탐색(Discovery) 관련 API"},{"name":"AI Recommendation API","description":"AI를 이용한 추천, 비교, 요약, 채팅 기능을 제공합니다."},{"name":"커뮤니티","description":"커뮤니티 API"},{"name":"라멘 가게","description":"라멘 가게 조회/방문 API"},{"name":"홈 화면 - 커뮤니티","description":"홈 화면용 커뮤니티 API"},{"name":"커뮤니티 댓글","description":"커뮤니티 댓글 API"},{"name":"인증샷","description":"라멘 인증샷 API"},{"name":"홈 화면 - 라멘 가게","description":"홈 화면용 라멘 가게 API"},{"name":"메뉴 투표","description":"메뉴 투표 API"},{"name":"사용자","description":"사용자 프로필/활동 API"}],"paths":{"/files/mock-upload-endpoint":{"put":{"tags":["f-ile-controller"],"operationId":"mockUpload","responses":{"200":{"description":"OK"}}}},"/community/comments/{commentId}":{"put":{"tags":["커뮤니티 댓글"],"summary":"커뮤니티 댓글 수정","description":"댓글 내용을 수정합니다.","operationId":"updateComment","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityCommentUpdateRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommunityCommentItemResponse"}}}}}},"delete":{"tags":["커뮤니티 댓글"],"summary":"커뮤니티 댓글 삭제","description":"댓글을 삭제합니다.","operationId":"deleteComment","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/recommendations/taste":{"post":{"tags":["AI Recommendation API"],"summary":"라멘 취향 테스트 기반 추천","operationId":"recommendByTaste","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TasteRecommendationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTasteRecommendationResponse"}}}}}}},"/recommendations/summary":{"post":{"tags":["AI Recommendation API"],"summary":"매장 리뷰 요약","operationId":"summarizeReviews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewSummaryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewSummaryResponse"}}}}}}},"/recommendations/compare":{"post":{"tags":["AI Recommendation API"],"summary":"두 매장 심층 비교","operationId":"compareShops","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopComparisonRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopComparisonResponse"}}}}}}},"/recommendations/chat":{"post":{"tags":["AI Recommendation API"],"summary":"AI 추가 채팅","operationId":"followUpChat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAiChatResponse"}}}}}}},"/ramen-shops/{shopId}/votes/menus/{menuId}":{"post":{"tags":["메뉴 투표"],"summary":"메뉴 투표","description":"특정 메뉴에 투표합니다.","operationId":"votingMenu","parameters":[{"name":"shopId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"menuId","in":"path","description":"메뉴 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVotingStatusResponse"}}}}}}},"/ramen-shops/{shopId}/reports":{"post":{"tags":["라멘 가게"],"summary":"가게 정보 제보하기","description":"가게의 영업시간 오류, 폐업 등을 제보합니다.","operationId":"reportShop","parameters":[{"name":"shopId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamenShopReportRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/ramen-shops/{shopId}/photos":{"get":{"tags":["인증샷"],"summary":"인증샷 목록 조회","description":"가게별 인증샷 목록을 페이징으로 조회합니다.","operationId":"getProofPicture","parameters":[{"name":"shopId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":6,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseRamenShopProofPictureResponse"}}}}}},"post":{"tags":["인증샷"],"summary":"인증샷 등록","description":"업로드 완료된 인증샷 URL을 등록합니다.","operationId":"addProofPicture","parameters":[{"name":"shopId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProofPictureUploadRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProofPictureInfoResponse"}}}}}}},"/ramen-shops/{shopId}/bookmark":{"post":{"tags":["라멘 가게"],"summary":"가게 북마크 토글","description":"가게를 찜하거나 해제합니다.","operationId":"toggleBookmark","parameters":[{"name":"shopId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/community/posts":{"get":{"tags":["커뮤니티"],"summary":"커뮤니티 글 목록 조회","description":"카테고리, 라멘집 ID 필터와 페이징으로 커뮤니티 글 목록을 조회합니다. 기본 페이지 크기는 10입니다.","operationId":"getCommunityPosts","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"category","in":"query","description":"글 카테고리 필터 (예: 맛집후기)","required":false,"schema":{"type":"string","description":"글 카테고리 필터 (예: 맛집후기)"}},{"name":"ramenShopId","in":"query","description":"맛집후기 카테고리에서 필터링할 라멘집 ID","required":false,"schema":{"type":"integer","format":"int64","description":"맛집후기 카테고리에서 필터링할 라멘집 ID"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCommunityPostCardResponse"}}}}}},"post":{"tags":["커뮤니티"],"summary":"커뮤니티 글 작성","description":"JSON 형식으로 커뮤니티 글을 작성합니다. 이미지는 사전 업로드 후 URL로 포함되어야 합니다.","operationId":"createCommunityPost","requestBody":{"description":"글 작성 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityPostCreateRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommunityPostDetailResponse"}}}}}}},"/community/posts/{postId}/likes":{"post":{"tags":["커뮤니티"],"summary":"커뮤니티 글 좋아요 토글","description":"게시글에 좋아요를 누르거나 취소합니다.","operationId":"togglePostLike","parameters":[{"name":"postId","in":"path","description":"글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/community/posts/{postId}/comments":{"get":{"tags":["커뮤니티 댓글"],"summary":"커뮤니티 댓글 목록 조회","description":"글의 댓글 목록을 조회합니다. 답글은 1단계까지만 포함합니다.","operationId":"getComments","parameters":[{"name":"postId","in":"path","description":"글 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCommunityCommentThreadResponse"}}}}}},"post":{"tags":["커뮤니티 댓글"],"summary":"커뮤니티 댓글 작성","description":"댓글 또는 답글을 작성합니다. 답글 작성 시 부모 댓글 작성자가 태그됩니다.","operationId":"createComment","parameters":[{"name":"postId","in":"path","description":"글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityCommentCreateRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommunityCommentItemResponse"}}}}}}},"/auth/refresh":{"post":{"tags":["auth-controller"],"operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthTokenResponse"}}}}}}},"/auth/logout":{"post":{"tags":["auth-controller"],"operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/api/retrieval/shops/{shopId}/reindex":{"post":{"tags":["retrieval-admin-api-controller"],"operationId":"reindexShop","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/admin/api/retrieval/shops/reindex":{"post":{"tags":["retrieval-admin-api-controller"],"operationId":"reindexAllShops","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/admin/api/retrieval/external-reviews/catchtable/reindex":{"post":{"tags":["retrieval-admin-api-controller"],"operationId":"reindexCatchtableReviews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalReviewIndexRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExternalReviewIndexResult"}}}}}}},"/admin/api/ramen-shops":{"get":{"tags":["ramen-shop-admin-api-controller"],"operationId":"getShops","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRamenShopAdminSummaryResponse"}}}}}},"post":{"tags":["ramen-shop-admin-api-controller"],"operationId":"createShop","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamenShopAdminForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRamenShopAdminMutationResponse"}}}}}}},"/users/me/profile":{"get":{"tags":["사용자"],"summary":"내 프로필 조회","description":"로그인 사용자의 프로필과 활동 통계를 반환합니다.","operationId":"getUserProfile","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfileResponse"}}}}}},"patch":{"tags":["사용자"],"summary":"내 프로필 수정","description":"닉네임/프로필 이미지/백그라운드 이미지를 수정합니다.","operationId":"updateMyProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfileResponse"}}}}}}},"/community/posts/{postId}":{"get":{"tags":["커뮤니티"],"summary":"커뮤니티 글 상세 조회","description":"커뮤니티 글 상세 정보를 조회합니다.","operationId":"getCommunityPostDetail","parameters":[{"name":"postId","in":"path","description":"글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommunityPostDetailResponse"}}}}}},"delete":{"tags":["커뮤니티"],"summary":"커뮤니티 글 삭제","description":"본인이 작성한 글을 삭제(소프트 딜리트)합니다.","operationId":"deleteCommunityPost","parameters":[{"name":"postId","in":"path","description":"글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["커뮤니티"],"summary":"커뮤니티 글 수정","description":"본인이 작성한 글을 수정합니다.","operationId":"updateCommunityPost","parameters":[{"name":"postId","in":"path","description":"글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"글 수정 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityPostCreateRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommunityPostDetailResponse"}}}}}}},"/admin/api/ramen-shops/{shopId}":{"get":{"tags":["ramen-shop-admin-api-controller"],"operationId":"getShop","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRamenShopAdminForm"}}}}}},"delete":{"tags":["ramen-shop-admin-api-controller"],"operationId":"deleteShop","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["ramen-shop-admin-api-controller"],"operationId":"updateShop","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamenShopAdminForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRamenShopAdminMutationResponse"}}}}}}},"/users/{userId}/visits":{"get":{"tags":["사용자"],"summary":"사용자 방문 목록 조회","description":"특정 사용자의 방문 기록을 페이징으로 조회합니다.","operationId":"getUserVisitsById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseVisitSummaryResponse"}}}}}}},"/users/{userId}/profile":{"get":{"tags":["사용자"],"summary":"사용자 프로필 조회","description":"특정 사용자의 프로필과 활동 통계를 반환합니다.","operationId":"getUserProfileById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfileResponse"}}}}}}},"/users/{userId}/posts":{"get":{"tags":["사용자"],"summary":"사용자 글 목록 조회","description":"특정 사용자의 글 목록을 페이징으로 조회합니다. 기본 페이지 크기는 5입니다.","operationId":"getUserPostsById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":5,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCommunityPostCardResponse"}}}}}}},"/users/{userId}/photos":{"get":{"tags":["사용자"],"summary":"사용자 인증샷 목록 조회","description":"특정 사용자의 인증샷 목록을 페이징으로 조회합니다.","operationId":"getUserPhotosById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponsePhotoSummaryResponse"}}}}}}},"/users/{userId}/comments":{"get":{"tags":["사용자"],"summary":"사용자 댓글 목록 조회","description":"특정 사용자의 댓글 목록을 페이징으로 조회합니다. 기본 페이지 크기는 5입니다.","operationId":"getUserCommentsById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":5,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCommunityCommentItemResponse"}}}}}}},"/users/me/visits":{"get":{"tags":["사용자"],"summary":"내 방문 목록 조회","description":"로그인 사용자의 방문 기록을 페이징으로 조회합니다.","operationId":"getMyVisits","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseVisitSummaryResponse"}}}}}}},"/users/me/posts":{"get":{"tags":["사용자"],"summary":"내 글 목록 조회","description":"로그인 사용자의 글 목록을 페이징으로 조회합니다. 기본 페이지 크기는 5입니다.","operationId":"getMyPosts","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":5,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCommunityPostCardResponse"}}}}}}},"/users/me/photos":{"get":{"tags":["사용자"],"summary":"내 인증샷 목록 조회","description":"로그인 사용자의 인증샷 목록을 페이징으로 조회합니다.","operationId":"getUserPhoto","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponsePhotoSummaryResponse"}}}}}}},"/users/me/comments":{"get":{"tags":["사용자"],"summary":"내 댓글 목록 조회","description":"댓글 내용과 댓글이 속한 글의 제목/작성일시를 페이징으로 조회합니다. 기본 페이지 크기는 5입니다.","operationId":"getMyComments","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":5,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCommunityCommentItemResponse"}}}}}}},"/users/me/bookmarks":{"get":{"tags":["사용자"],"summary":"내 북마크 목록 조회","description":"로그인 사용자의 북마크 목록을 페이징으로 조회합니다.","operationId":"getMyBookmarks","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseBookmarkSummaryResponse"}}}}}}},"/ramen-shops":{"get":{"tags":["라멘 가게"],"summary":"가게 목록 조회","description":"지역/키워드 조건과 페이징으로 가게 목록을 조회합니다.","operationId":"getShopList","parameters":[{"name":"page","in":"query","description":"페이지 번호","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":12},"example":12},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/RamenShopSearchRequest"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseRamenShopResponse"}}}}}}},"/ramen-shops/{shopId}":{"get":{"tags":["라멘 가게"],"summary":"가게 상세 조회","description":"가게의 기본 정보와 메뉴, 통계를 조회합니다.","operationId":"getShopDetailInfo","parameters":[{"name":"shopId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"memberId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRamenShopBasicInfoResponse"}}}}}}},"/ramen-shops/{shopId}/votes":{"get":{"tags":["메뉴 투표"],"summary":"투표 현황 조회","description":"가게별 투표 현황을 조회합니다.","operationId":"getVoteStatus","parameters":[{"name":"shopId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVotingStatusResponse"}}}}}}},"/files/upload-ticket":{"get":{"tags":["f-ile-controller"],"operationId":"getUploadTicket","parameters":[{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"extension","in":"query","required":true,"schema":{"type":"string"}},{"name":"contentType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PresignedUrlResponse"}}}}}}},"/favicon.ico":{"get":{"tags":["root-controller"],"operationId":"favicon","responses":{"200":{"description":"OK"}}}},"/community/ramen-shops":{"get":{"tags":["커뮤니티"],"summary":"커뮤니티 글 작성용 라멘집 목록 조회","description":"맛집후기 카테고리 작성 시 선택할 라멘집 목록을 검색/페이징으로 조회합니다. 기본 페이지 크기는 10입니다.","operationId":"getRamenShopOptions","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"keyword","in":"query","description":"가게명 검색 키워드","required":false,"schema":{"type":"string","description":"가게명 검색 키워드"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCommunityRamenShopOptionResponse"}}}}}}},"/api/v1/shops/recent-verified":{"get":{"tags":["홈 화면 - 라멘 가게"],"summary":"최근 사진 인증된 라멘집 조회","description":"최근에 사진 리뷰가 작성된 라멘집 목록을 반환합니다.","operationId":"getRecentVerifiedShops","parameters":[{"name":"limit","in":"query","description":"가져올 개수","required":false,"schema":{"type":"integer","format":"int32","default":4},"example":4}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRecentVerifiedShopResponse"}}}}}}},"/api/v1/discovery/trending-tags":{"get":{"tags":["탐색"],"summary":"실시간 인기 검색어 조회","description":"최근 가장 많이 검색되거나 클릭된 검색어(태그) 순위를 반환합니다.","operationId":"getTrendingTags","parameters":[{"name":"limit","in":"query","description":"가져올 순위 개수","required":false,"schema":{"type":"integer","format":"int32","default":5},"example":5}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTrendingTagResponse"}}}}}}},"/api/v1/discovery/stats":{"get":{"tags":["탐색"],"summary":"탐색 통계 조회","description":"등록된 라멘집, 누적 리뷰(또는 AI 분석), 활동 중인 유저 통계를 조회합니다.","operationId":"getDiscoveryStats","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDiscoveryStatsResponse"}}}}}}},"/api/v1/community/posts":{"get":{"tags":["홈 화면 - 커뮤니티"],"summary":"라멘 꿀팁 조회","description":"커뮤니티의 '꿀팁' 카테고리 게시글 목록을 요약 형태로 반환합니다.","operationId":"getHomePosts","parameters":[{"name":"category","in":"query","description":"카테고리 (기본: tip)","required":false,"schema":{"type":"string","default":"tip"}},{"name":"limit","in":"query","description":"가져올 개수","required":false,"schema":{"type":"integer","format":"int32","default":3},"example":3}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommunityHomePostResponse"}}}}}}},"/":{"get":{"tags":["root-controller"],"operationId":"root","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/ramen-shops/{shopId}/photos/{photoId}":{"delete":{"tags":["인증샷"],"operationId":"deleteProofPicture","parameters":[{"name":"photoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"memberId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"CommunityCommentUpdateRequest":{"type":"object","properties":{"content":{"type":"string","description":"댓글 내용"}}},"ApiResponseCommunityCommentItemResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CommunityCommentItemResponse"},"success":{"type":"boolean"}}},"CommunityCommentItemResponse":{"type":"object","properties":{"commentId":{"type":"integer","format":"int64","description":"댓글 ID"},"parentCommentId":{"type":"integer","format":"int64","description":"부모 댓글 ID(답글인 경우)"},"postId":{"type":"integer","format":"int64","description":"게시글 ID"},"authorNickname":{"type":"string","description":"작성자 닉네임"},"authorId":{"type":"integer","format":"int64","description":"작성자 ID"},"authorImageUrl":{"type":"string","description":"작성자 프로필 이미지 URL"},"taggedParentAuthorNickname":{"type":"string","description":"부모 댓글 작성자 닉네임 태그(답글인 경우)"},"createdAt":{"type":"string","format":"date-time","description":"작성 일시"},"content":{"type":"string","description":"댓글 내용"},"isDeleted":{"type":"boolean","description":"삭제 여부"}}},"TasteRecommendationRequest":{"type":"object","properties":{"soup":{"type":"string"},"mood":{"type":"string"},"priority":{"type":"string"},"freeText":{"type":"string"}}},"ApiResponseTasteRecommendationResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TasteRecommendationResponse"},"success":{"type":"boolean"}}},"RecommendedShopResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"type":{"type":"string"},"location":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"matchScore":{"type":"integer","format":"int32"},"isBookmarked":{"type":"boolean"}}},"TasteRecommendationResponse":{"type":"object","properties":{"recommendedShops":{"type":"array","items":{"$ref":"#/components/schemas/RecommendedShopResponse"}}}},"ReviewSummaryRequest":{"type":"object","properties":{"shopId":{"type":"integer","format":"int64"},"focus":{"type":"string"}}},"AiShopBasicInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"type":{"type":"string"},"location":{"type":"string"},"imageUrl":{"type":"string"},"isBookmarked":{"type":"boolean"}}},"AiSummary":{"type":"object","properties":{"pros":{"$ref":"#/components/schemas/SummaryDetail"},"cons":{"$ref":"#/components/schemas/SummaryDetail"},"recommendedMenu":{"$ref":"#/components/schemas/SummaryDetail"}}},"ApiResponseReviewSummaryResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReviewSummaryResponse"},"success":{"type":"boolean"}}},"ReviewSummaryResponse":{"type":"object","properties":{"shopInfo":{"$ref":"#/components/schemas/AiShopBasicInfo"},"reviewCount":{"type":"integer","format":"int32"},"summary":{"$ref":"#/components/schemas/AiSummary"},"sampleReviews":{"type":"array","items":{"$ref":"#/components/schemas/SampleReview"}}}},"SampleReview":{"type":"object","properties":{"name":{"type":"string"},"rating":{"type":"integer","format":"int32"},"text":{"type":"string"}}},"SummaryDetail":{"type":"object","properties":{"title":{"type":"string"},"body":{"type":"string"}}},"ShopComparisonRequest":{"type":"object","properties":{"shopAId":{"type":"integer","format":"int64"},"shopBId":{"type":"integer","format":"int64"},"focus":{"type":"string"}}},"ApiResponseShopComparisonResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ShopComparisonResponse"},"success":{"type":"boolean"}}},"ComparisonNarrative":{"type":"object","properties":{"title":{"type":"string"},"body":{"type":"string"}}},"ShopComparisonDetail":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"scores":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"totalIndex":{"type":"number","format":"double"}}},"ShopComparisonResponse":{"type":"object","properties":{"shopA":{"$ref":"#/components/schemas/ShopComparisonDetail"},"shopB":{"$ref":"#/components/schemas/ShopComparisonDetail"},"narratives":{"type":"array","items":{"$ref":"#/components/schemas/ComparisonNarrative"}}}},"AiChatRequest":{"type":"object","properties":{"contextType":{"type":"string"},"shopIds":{"type":"array","items":{"type":"integer","format":"int64"}},"messages":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessage"}}}},"ChatMessage":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string"}}},"AiChatResponse":{"type":"object","properties":{"message":{"$ref":"#/components/schemas/ChatMessageResponse"}}},"ApiResponseAiChatResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AiChatResponse"},"success":{"type":"boolean"}}},"ChatMessageResponse":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string"}}},"ApiResponseVotingStatusResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VotingStatusResponse"},"success":{"type":"boolean"}}},"VoteResultsDto":{"type":"object","properties":{"percentage":{"type":"number","format":"double"},"voted":{"type":"boolean"},"menu_id":{"type":"integer","format":"int64"},"menu_name":{"type":"string"},"vote_count":{"type":"integer","format":"int64"}}},"VotingStatusResponse":{"type":"object","properties":{"total_votes":{"type":"integer","format":"int64"},"vote_results":{"type":"array","items":{"$ref":"#/components/schemas/VoteResultsDto"}}}},"RamenShopReportRequest":{"type":"object","properties":{"reportType":{"type":"string","description":"제보 유형","enum":["OPENING_HOURS_ERROR","CLOSED","MENU_INFO_ERROR","OTHERS","EVENT"],"example":"OPENING_HOURS_ERROR"},"content":{"type":"string","description":"상세 내용","example":"영업시간이 오후 9시까지로 변경되었습니다."}}},"ApiResponseVoid":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{},"success":{"type":"boolean"}}},"ProofPictureUploadRequest":{"type":"object","properties":{"imageUrl":{"type":"string"},"description":{"type":"string"},"menuName":{"type":"string"}}},"ApiResponseProofPictureInfoResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProofPictureInfoResponse"},"success":{"type":"boolean"}}},"ProofPictureInfoResponse":{"type":"object","properties":{"photo_id":{"type":"integer","format":"int64"},"isSuccess":{"type":"boolean"},"image_url":{"type":"string"}}},"ApiResponseBoolean":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"type":"boolean"},"success":{"type":"boolean"}}},"CommunityPostCreateRequest":{"type":"object","properties":{"category":{"type":"string","description":"글 카테고리"},"ramenShopId":{"type":"integer","format":"int64","description":"맛집후기 카테고리일 때 라멘집 ID, 그 외에는 null"},"title":{"type":"string","description":"글 제목"},"thumbnailUrl":{"type":"string","description":"썸네일 이미지 URL(썸네일 파일을 올리지 않는 경우)"},"contentFormat":{"type":"string","description":"본문 포맷","enum":["MARKDOWN","PLAIN","TIPTAP_JSON"]},"content":{"type":"string","description":"본문(마크다운/일반 텍스트/TipTap JSON 문자열). 이미지 URL은 본문에 포함"}}},"ApiResponseCommunityPostDetailResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CommunityPostDetailResponse"},"success":{"type":"boolean"}}},"CommunityPostDetailResponse":{"type":"object","properties":{"category":{"type":"string","description":"글 카테고리"},"storeName":{"type":"string","description":"맛집후기 카테고리일 때만 가게 이름, 그 외에는 null"},"title":{"type":"string","description":"글 제목"},"authorName":{"type":"string","description":"작성자 이름"},"authorId":{"type":"integer","format":"int64","description":"작성자 ID"},"authorImageUrl":{"type":"string","description":"작성자 프로필 이미지 URL"},"createdAt":{"type":"string","format":"date-time","description":"작성 일시"},"imageUrls":{"type":"array","description":"글 이미지 URL 리스트","items":{"type":"string"}},"contentFormat":{"type":"string","description":"본문 포맷","enum":["MARKDOWN","PLAIN"]},"content":{"type":"string","description":"글 내용"},"likeCount":{"type":"integer","format":"int64","description":"좋아요 수"},"commentCount":{"type":"integer","format":"int64","description":"댓글 수"},"isLiked":{"type":"boolean","description":"로그인한 사용자의 좋아요 여부"}}},"CommunityCommentCreateRequest":{"type":"object","properties":{"content":{"type":"string","description":"댓글 내용"},"parentCommentId":{"type":"integer","format":"int64","description":"부모 댓글 ID(답글일 때만)"}}},"ApiResponseAuthTokenResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AuthTokenResponse"},"success":{"type":"boolean"}}},"AuthTokenResponse":{"type":"object","properties":{"tokenType":{"type":"string"},"accessToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"memberId":{"type":"integer","format":"int64"}}},"ApiResponseMapStringObject":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"type":"object","additionalProperties":{}},"success":{"type":"boolean"}}},"ExternalReviewIndexRequest":{"type":"object","properties":{"path":{"type":"string"}}},"ApiResponseExternalReviewIndexResult":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ExternalReviewIndexResult"},"success":{"type":"boolean"}}},"ExternalReviewIndexResult":{"type":"object","properties":{"source":{"type":"string"},"indexedCount":{"type":"integer","format":"int32"},"skippedCount":{"type":"integer","format":"int32"}}},"EventMenuForm":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"integer","format":"int32"},"badgeText":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"imageUrl":{"type":"string"},"currentImageUrl":{"type":"string"},"empty":{"type":"boolean"}}},"NormalMenuForm":{"type":"object","properties":{"name":{"type":"string"},"price":{"type":"integer","format":"int32"},"signature":{"type":"boolean"},"imageUrl":{"type":"string"},"currentImageUrl":{"type":"string"},"empty":{"type":"boolean"}}},"RamenShopAdminForm":{"type":"object","properties":{"name":{"type":"string","minLength":1},"branchName":{"type":"string"},"naverMapId":{"type":"string"},"city":{"type":"string","minLength":1},"district":{"type":"string"},"street":{"type":"string","minLength":1},"detail":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"closedDays":{"type":"string"},"openTime":{"type":"string"},"closeTime":{"type":"string"},"breakStart":{"type":"string"},"breakEnd":{"type":"string"},"instagramUrl":{"type":"string"},"catchTableUrl":{"type":"string"},"description":{"type":"string"},"parkingInfo":{"type":"string"},"imageUrl":{"type":"string"},"currentImageUrl":{"type":"string"},"tags":{"type":"string"},"normalMenus":{"type":"array","items":{"$ref":"#/components/schemas/NormalMenuForm"}},"eventMenus":{"type":"array","items":{"$ref":"#/components/schemas/EventMenuForm"}}},"required":["city","name","street"]},"ApiResponseRamenShopAdminMutationResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RamenShopAdminMutationResponse"},"success":{"type":"boolean"}}},"RamenShopAdminMutationResponse":{"type":"object","properties":{"shopId":{"type":"integer","format":"int64"}}},"UpdateProfileRequest":{"type":"object","properties":{"nickname":{"type":"string","description":"닉네임"},"profile_image_url":{"type":"string","description":"프로필 이미지 URL"},"background_image_url":{"type":"string","description":"백그라운드 이미지 URL"},"bio":{"type":"string","description":"자기소개"}}},"ApiResponseMyProfileResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MyProfileResponse"},"success":{"type":"boolean"}}},"MyProfileResponse":{"type":"object","properties":{"user_id":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"profile_image_url":{"type":"string"},"background_image_url":{"type":"string"},"userDescription":{"type":"string"},"stats":{"$ref":"#/components/schemas/UserStatsDto"}}},"UserStatsDto":{"type":"object","properties":{"visited_restaurant_count":{"type":"integer","format":"int64"},"total_photo_count":{"type":"integer","format":"int64"},"total_bookmark_count":{"type":"integer","format":"int64"},"post_count":{"type":"integer","format":"int64"},"comment_count":{"type":"integer","format":"int64"}}},"ApiResponsePageResponseVisitSummaryResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseVisitSummaryResponse"},"success":{"type":"boolean"}}},"PageMeta":{"type":"object","properties":{"number":{"type":"integer","format":"int32","description":"현재 페이지 번호 (0부터 시작)"},"size":{"type":"integer","format":"int32","description":"페이지 크기"},"totalElements":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부"},"hasPrevious":{"type":"boolean","description":"이전 페이지 존재 여부"}}},"PageResponseVisitSummaryResponse":{"type":"object","description":"목록 + 페이지 메타 응답","properties":{"items":{"type":"array","description":"목록 데이터","items":{"$ref":"#/components/schemas/VisitSummaryResponse"}},"page":{"$ref":"#/components/schemas/PageMeta","description":"페이지 메타 정보"}}},"VisitSummaryResponse":{"type":"object","properties":{"restaurant_id":{"type":"integer","format":"int64"},"restaurant_name":{"type":"string"},"restaurant_image_url":{"type":"string"},"simple_address":{"type":"string"},"visit_count_for_user":{"type":"integer","format":"int64"},"last_visited_at":{"type":"string","format":"date-time"}}},"ApiResponsePageResponseCommunityPostCardResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCommunityPostCardResponse"},"success":{"type":"boolean"}}},"CommunityPostCardResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64","description":"글 ID"},"category":{"type":"string","description":"글 카테고리"},"ramenShopId":{"type":"integer","format":"int64","description":"맛집후기 카테고리일 때만 라멘집 ID, 그 외에는 null"},"storeName":{"type":"string","description":"맛집후기 카테고리일 때만 가게 이름, 그 외에는 null"},"title":{"type":"string","description":"글 제목"},"contentPreview":{"type":"string","description":"글 내용 미리보기"},"imageUrl":{"type":"string","description":"글 이미지 URL"},"authorName":{"type":"string","description":"작성자 이름"},"authorId":{"type":"integer","format":"int64","description":"작성자 ID"},"authorImageUrl":{"type":"string","description":"작성자 프로필 이미지 URL"},"createdAt":{"type":"string","format":"date-time","description":"작성 일시"},"likeCount":{"type":"integer","format":"int64","description":"좋아요 수"},"commentCount":{"type":"integer","format":"int64","description":"댓글 수"}}},"PageResponseCommunityPostCardResponse":{"type":"object","description":"목록 + 페이지 메타 응답","properties":{"items":{"type":"array","description":"목록 데이터","items":{"$ref":"#/components/schemas/CommunityPostCardResponse"}},"page":{"$ref":"#/components/schemas/PageMeta","description":"페이지 메타 정보"}}},"ApiResponsePageResponsePhotoSummaryResponse":{"type":"object","prop
